sudo: required
language: cpp
notifications:
  webhooks:
    urls:
      - http://jenkins.db.cs.cmu.edu:8080/github-webhook/
    on_success: always
    on_failure: never
    on_start: never
    on_cancel: never
    on_error: never
matrix:
  fast_finish: true
  include:
    - os: osx
      osx_image: xcode9.4
      compiler: clang
      env:
        - NAME="Mac [dbg/clang]" CMAKE_BUILD_TYPE=debug TERRIER_USE_ASAN=On
      install:
        - echo 'y' | ./script/installation/packages.sh
        - export LLVM_DIR=/usr/local/Cellar/llvm@6/6.0.1
    - os: linux
      dist: trusty
      env:
        - NAME="Docker[dbg/packages.sh]" CMAKE_BUILD_TYPE=debug TERRIER_USE_ASAN=On DOCKER=true
      install:
        - docker pull ubuntu:18.04
        - docker run -itd --name build ubuntu:18.04
        - docker cp . build:/repo
        - docker exec build /bin/sh -c "echo 'y' | /repo/script/installation/packages.sh"
    - os: linux
      dist: trusty
      env:
        - NAME="Docker[dbg/Dockerfile]" CMAKE_BUILD_TYPE=debug TERRIER_USE_ASAN=On DOCKER=true
      install:
        - docker build -t cmu-db/terrier .
        - docker run -itd --name build cmu-db/terrier
        - docker cp . build:/repo

before_script:
  - if [[ "$DOCKER" = true ]]; then
      docker exec build /bin/sh -c "cd /repo/apidoc && touch warnings.txt && doxygen Doxyfile.in 2>warnings.txt && (cat warnings.txt | grep -v Doxyfile.in > warnings.txt || true) && if [ -s warnings.txt ]; then cat warnings.txt; false; fi" &&
      docker exec build /bin/sh -c "mkdir -p /repo/build" &&
      docker exec -e CMAKE_BUILD_TYPE="$CMAKE_BUILD_TYPE" -e TERRIER_USE_ASAN="$TERRIER_USE_ASAN" build /bin/sh -c "cd /repo/build && cmake -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE -DTERRIER_USE_ASAN=$TERRIER_USE_ASAN .." &&
      docker exec build /bin/sh -c "cd /repo/build && make check-clang-tidy" &&
      docker exec build /bin/sh -c "cd /repo/build && make check-format" &&
      docker exec build /bin/sh -c "cd /repo/build && make check-lint";
    else
      cd apidoc &&
      touch warnings.txt &&
      doxygen Doxyfile.in 2>warnings.txt &&
      (cat warnings.txt | grep -v Doxyfile.in > warnings.txt || true) &&
      if [ -s warnings.txt ]; then cat warnings.txt; false; fi &&
      cd .. &&
      mkdir build &&
      cd build &&
      cmake -DCMAKE_BUILD_TYPE=$CMAKE_BUILD_TYPE -DTERRIER_USE_ASAN=$TERRIER_USE_ASAN .. &&
      ASAN_OPTIONS=detect_container_overflow=0 make check-clang-tidy &&
      ASAN_OPTIONS=detect_container_overflow=0 make check-format &&
      ASAN_OPTIONS=detect_container_overflow=0 make check-lint;
    fi

script:
  - if [[ "$DOCKER" = true ]]; then
      docker exec build /bin/sh -c "cd /repo/build && make";
    else
      ASAN_OPTIONS=detect_container_overflow=0 make;
    fi

