# systemd service unit for the Jenkins swarm agent running inside a
# Docker container
#
# sanity check and adjust the number of executors specified below before
# installing and enabling
#
[Unit]
Description=Jenkins
After=network.target

[Service]
User=jenkins
Restart=always
Type=simple
ExecStart=/home/jenkins/swarm.sh -executors 6 -labels "docker" -disableClientsUniqueId

[Install]
WantedBy=multi-user.target
